.ourteams {
    max-width: 500px;
    margin: 0 auto;

}
.image{
    object-fit: cover;
}
.description {
    background-color: #f8f9fa;
    padding: 20px;
}
.image-container {
    padding: 20px;
}
.image-container img {
    max-width: 100%;
    height: auto;
}
.service {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}
.client {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
  }
.heading{
    color:#474150;
    font-weight: 700;
}
.sub-heading{
    color:#474150;
    font-weight: 500;
}
.desc{
    color: #565656;
}
.space{
    width: 50%;
    height: 100%;
}
.hovering:hover{
    box-shadow: 10px 10px 10px #80808040;
    transition: all 300ms ease-in-out;

}